<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tedemo.mapper.PartyBuildingMapper">
    <select id="Parlist" resultType="com.example.tedemo.pojo.PartyBuilding">
        SELECT * FROM party_building_project
        <where>

            <if test="status!=null">
                and status = #{status}
            </if>
            and username = #{username}

        </where>

    </select>

    <select id="AdminParlist" resultType="com.example.tedemo.pojo.PartyBuilding">
        SELECT * FROM party_building_project
        <where>

            <if test="status!=null">
                and status = #{status}
            </if>


        </where>



    </select>

</mapper>