<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tedemo.mapper.SocialWorkMapper">
    <select id="Soclist" resultType="com.example.tedemo.pojo.SocialWork">
        SELECT * FROM social_work
        <where>

            <if test="status!=null">
                and state = #{status}
            </if>
            and username = #{username}

        </where>

    </select>

    <select id="AdminSoclist" resultType="com.example.tedemo.pojo.SocialWork">
        SELECT * FROM social_work
        <where>

            <if test="status!=null">
                and state = #{status}
            </if>


        </where>



    </select>

</mapper>